.section {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section > .titre-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.section > .titre-section > h2 {
    text-align: center;
    font-size: 35px;
    font-family: 'Montserrat-ExtraBold';
}

.section > p {
    width: 70%;
    text-align: center;
    line-height: 50px;
    overflow-wrap: anywhere;
    font-size: 25px;
    color:  #808CA6;
}